@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #000000;
    --default-layout-header-height: 116px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--primary);
}
a[href] {
    color: var(--primary);
    text-decoration: none;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
